<div class="slider">
    <button id="btnLeft" onclick="previous(currentImage.index);"><<</button>
    <div class="sliderImageBlock">
        <img class="sliderImage" src="../Static/Images/spb.jpg"><img />
    </div>
    <div class="sliderImageBlock">
        <img class="sliderImage" src="../Static/Images/ny.jpg"><img />
    </div>
    <div class="sliderImageBlock">
        <img class="sliderImage" src="../Static/Images/london.jpg"><img />
    </div>
    <button id="btnRight" onclick="next(currentImage.index);">>></button>
    <script>showImageBlock(0);</script>
</div>